{% extends "blog/base.html" %}
{% block content %}

<section class="header3 cid-rk3zrfx7a4 mbr-parallax-background" id="header3-g">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="media-container-row">
            

            <div class="media-content">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">{{ post.title }}</h1>
                
                <div class="mbr-section-text mbr-white pb-3 ">
                    <form class="post-form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-md btn-primary display-4">Post Comment</button>
                      </form>
                      <br>
                      <details open>
                        <summary>NOTE</summary>
                        <p>Your comment will be posted after the approval of Admin.</p>
                      </details>
                      <script>var editor = new MediumEditor('.editable');</script>
                </div>
              <br>
            </div>
        </div>
    </div>
</section>

{% endblock %}