{% extends "blog/base.html" %}

{% block content %}
{% load static %}
<section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"
                style="padding: 42px 50px 16px !important">
                    GANESHA</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">Ganesha, also known as Ganapati, Vinayaka, Pillaiyar and Binayak, is one of the best-known and most worshipped deities in the Hindu pantheon. His image is found throughout India, Sri Lanka, Thailand, Bali, Bangladesh and Nepal. Devotion to Ganesha is widely diffused and extends to Jains and Buddhists.</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="https://en.wikipedia.org/wiki/Ganesha" target="_blank">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="/stories">STORIES</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

{% endblock %}